@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
	font-family: "Open Sans", sans-serif;
}

html {
	overflow-y: auto !important;
}

[data-color-scheme="dark"] {
	color-scheme: dark;
}

[data-color-scheme="light"] {
	color-scheme: light;
}

#app {
	text-rendering: optimizeLegibility;
}

/* Transições do Nuxt */
.page-enter-active,
.page-leave-active {
	transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.page-enter,
.page-leave-to {
	opacity: 0;
	// transform: scale(1.2);
}

.layout-transtion__-enter-active,
.layout-transtion__-leave-active {
	transition: opacity 0.5s;
}
.layout-transtion__-enter,
.layout-transtion__-leave-active {
	opacity: 0;
}
